.background {
    height: 100vh;
    background-image: url(./Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}

.menu{
    background-color: rgba(0, 0, 0, 0.7);

}

.heading-font{
    font-family: serif;
    color: #B70404;
    font-size: 1rem;
}

.menu-button{
    background: none;
    border: none;
}

.menu-button:hover {
    color: #FFE569;
    transition: .5s;
}

.single-player {
    visibility: hidden;
}

.attribute-text {
    color: #F79327;
    font-family: serif;
}